@media (max-width: 1200px) {
    .header_wrapper .nav-item .nav-link {
        padding: 10px 16px;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 991px) {

    /*** Navbar Responsive ***/
    .header_wrapper .navbar-brand span {
        width: 180px;
    }

    .header_wrapper .navbar-toggler:focus {
        box-shadow: none;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        margin: auto;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: 12px;
    }

    .header_wrapper .nav-item:last-child .nav-link {
        margin-bottom: 20px;
    }

    .header_wrapper .navbar-collapse {
        background: var(--bg-white);
    }

    /*** Home Section Responsive ***/
    .home_wrapper .home-subtitle {
        font-size: 22px;
    }

    .home_wrapper .home-title {
        font-size: 31px;
    }

    @media (max-width: 767px) {

        /*** Home Section Responsive ***/
        .home_wrapper {
            padding: 100px 0 100px;
        }

        .home_wrapper .row {
            flex-direction: column-reverse;
        }

        .home_wrapper .learn-more-btn-section {
            justify-content: center;
        }

        .img-fluid {
            max-width: 100%;
            margin-left: 98px;
        }

        .home_wrapper .header-img-section {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        .img-fluid {
            max-width: 100%;
            margin-left: 60px;
        }

        .clients h2 {
            font-size: 19px;
        }
    }

    @media (max-width: 330px) {}