*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

:root {
    --bg-black: #090b3c;
    --bg-white: #fff;
    --bg-gray-white: #fcfcfc;
    --bg-light-2: #f2f7fa;

    --text-black: #000;
    --text-white: #fff;
    --text-dark-gray: #4c525d;
    --text-light-2: #798089;
    --text-light-3: #5e5e72;
    --text-light-4: #a0a0a0;
    --text-dark-green: #12c4a0;
    --text-yellow: #f4b400;

    --bg-features-1: #fff6d6;
    --bg-features-2: #ebdcf9;
    --bg-features-3: #ddf5fc;
    --bg-features-4: #dcf6e8;
    --bg-features-5: #f8e4e1;
    --bg-features-6: #fbffd4;

    --blue: #00b8b8;
    --black: #333;
    --light-black: #666;
    --light-bg: #eee;
    --border: 0.2rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
    --third-font: 'Poppins', sans-serif;
}

/************************/
/****** Custom CSS ******/
/************************/

.sign-up-btn {
    background-color: var(--bg-black);
    font-size: 18px;
    font-weight: 700;
    color: var(--text-white);
    padding: 12px 29px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    display: inline-block;
    text-decoration: none;
    transition: 0.7s;
}

.sign-up-btn:hover {
    color: var(--text-black) !important;
    background-color: var(--bg-white);
    border: 2px solid var(--bg-black);
}

.btn-extra-header {
    color: var(--text-white);
    background-color: transparent;
    border: 2px solid var(--text-dark-gray);
}

.btn-extra-header:hover {
    background-color: var(--bg-black);
    color: var(--text-white) !important;
}

.btn {
    color: var(--bg-white) !important;
}


/***********************/
/**** Navbar Design ****/
/***********************/

.header_wrapper .navbar {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2 linear;
}

.header_wrapper .navbar-brand span {
    max-width: 210px;
    height: auto;
}

.header_wrapper .menu-navbar-nav {
    display: flex;
    width: 70%;
    justify-content: center;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-dark-gray);
    line-height: 1;
    padding: 10px 25px;

}

.header_wrapper .nav-item .nav-link.active {
    color: var(--text-dark-green);
}

.header-scrolled {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

.header-scrolled .navbar-brand img {
    width: 190px;
    height: auto;
    animation: animated 0.1s ease-in-out;
}

@keyframes animated {
    0% {
        width: 210px;
    }

    50% {

        width: 200px;
    }


    100% {
        width: 190px;
    }
}

.header_scrolled .nav-item .nav-link {
    font-size: 17px;

}

.header_wrapper .navbar-brand {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-dark-gray);
}

.header_wrapper .navbar-brand span {
    padding-left: 4px;
}

/************************/
/****** Search CSS ******/
/************************/
.explore-mess .explore-heading {
    margin-top: 100px;
    font-family: var(--primary-font);
    color: var(--bg-black);

}

.explore-mess .search-box {
    border: 2px solid var(--bg-black);
}

.explore-mess .card {
    border: none;
    background-color: transparent;
    border-radius: 0.9375rem;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);

}

.explore-mess .card img {
    object-fit: cover;
    border-radius: 0.9375rem;

}

.explore-mess .card h4 {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.explore-mess .card span {
    display: block;
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--primary-color);
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}

.explore-mess .card del {
    color: var(--text-gray);
    margin-left: 0.5rem;
}

.explore-mess .card p {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin-bottom: 0.6rem;
    /* font-family: var(--third-font); */
}

.explore-mess .card i {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    color: var(--bg-black);
    font-size: 1.2rem;
}

.explore-mess .card div button i {
    /* border-radius:0; */
    margin: 0;
    padding: 0;

}

.main-btn {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    font-weight: 600;
    font-size: 0.9375rem;
    width: 90%;
    border-radius: 0.5rem;
    background-color: var(--bg-black);
    border: 0.1875rem solid var(--bg-gray-white);
    color: var(--bg-white);
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.main-btn:hover,
.main-btn:active {
    background-color: transparent;
    color: var(--bg-black);
}

.white-btn {
    display: inline-block;
    line-height: 1.5625rem;
    padding: 0.625rem 1.995rem;
    border-radius: 0.5rem;
    font-weight: 700;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    text-transform: capitalize;
    font-size: 0.9375rem;
    color: var(--text-black);
    background-color: var(--bg-white);
    border: 0.1875rem solid var(--bg-gray-white);
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.white-btn:hover,
.white-btn:active {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-search {
    padding: 0.675rem 1.875rem;
    line-height: 1.6625rem;
    text-align: center;
    align-items: center;

}

h4 {
    color: var(--bg-black);
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 900;
    font-family: var(--primary-font);
    margin-bottom: 0.5rem;
}




/*************************/
/*** Scroll Bar Design ***/
/*************************/


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-light-2);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-black);
}


::-webkit-scrollbar-thumb:hover {
    background: var(--bg-black);
}

@