*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}


/***********************/
/*** VARIABLE DEFINE ***/
/***********************/

:root {
    --bg-black: #090b3c;
    --bg-white: #fff;
    --bg-gray-white: #fcfcfc;

    --text-black: #000;
    --text-white: #fff;
    --text-dark-gray: #4c525d;
    --text-light-2: #798089;
    --text-light-3: #5e5e72;
    --text-light-4: #a0a0a0;
    --text-dark-green: #12c4a0;

    --blue: #00b8b8;
    --black: #333;
    --light-black: #666;
    --light-bg: #eee;
    --border: 0.2rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
    --third-font: 'Poppins', sans-serif;
}




/************************/
/****** Custom CSS ******/
/************************/

.sign-up-btn {
    background-color: var(--bg-black);
    font-size: 18px;
    font-weight: 700;
    color: var(--text-white);
    padding: 12px 29px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    display: inline-block;
    text-decoration: none;
    transition: 0.7s;
}

.sign-up-btn:hover {
    color: var(--text-black) !important;
    background-color: var(--bg-white);
    border: 2px solid var(--bg-black);
}

.btn-extra-header {
    color: var(--text-white);
    background-color: transparent;
    border: 2px solid var(--text-dark-gray);
}

.btn-extra-header:hover {
    background-color: var(--bg-black);
    color: var(--text-white) !important;
}

.btn {
    color: var(--bg-white) !important;
}


/***********************/
/**** Navbar Design ****/
/***********************/

.header_wrapper .navbar {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2 linear;
}

.header_wrapper .navbar-brand span {
    max-width: 210px;
    height: auto;
}

.header_wrapper .menu-navbar-nav {
    display: flex;
    width: 70%;
    justify-content: center;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-dark-gray);
    line-height: 1;
    padding: 10px 25px;

}

.header_wrapper .nav-item .nav-link.active {
    color: var(--text-dark-green);
}

.header-scrolled {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

.header-scrolled .navbar-brand img {
    width: 190px;
    height: auto;
    animation: animated 0.1s ease-in-out;
}

@keyframes animated {
    0% {
        width: 210px;
    }

    50% {

        width: 200px;
    }


    100% {
        width: 190px;
    }
}

.header_scrolled .nav-item .nav-link {
    font-size: 17px;

}

.header_wrapper .navbar-brand {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-dark-gray);
}

.header_wrapper .navbar-brand span {
    padding-left: 4px;
}

/***********************/
/***** Home Design *****/
/***********************/



.home_wrapper {
    background: url(../img/background.png) no-repeat;
    display: flex;
    width: 100%;
    padding: 100px 0 125px;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.header-img-section {}

.home_wrapper .home-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: var(--text-light-3);
}

.home_wrapper .home-title {
    font-family: var(--third-font);
    font-weight: 700;
    font-size: 35px;
    text-transform: capitalize;
    line-height: 1.15;
    margin-bottom: 25px;
    color: var(--text-black);
}

.home_wrapper .home-title span {
    color: var(--blue);
}

.home_wrapper .home-title-text {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 40px;
    max-width: 550px;
    color: var(--text-dark-gray);
}

.home_wrapper .learn-more-btn-section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.home_wrapper .header-img-section {
    width: 45%;
    animation: home 5s ease-in-out infinite;
}

@keyframes home {
    0% {
        transform: translateY(0px);
    }

    50% {

        transform: translateY(20px);
    }


    100% {
        transform: translateY(0px);

    }
}

.btn-header {}