*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}


/***********************/
/*** VARIABLE DEFINE ***/
/***********************/

:root {
    --bg-black: #090b3c;
    --bg-white: #fff;
    --bg-gray-white: #fcfcfc;
    --bg-light-2: #f2f7fa;

    --text-black: #000;
    --text-white: #fff;
    --text-dark-gray: #4c525d;
    --text-light-2: #798089;
    --text-light-3: #5e5e72;
    --text-light-4: #a0a0a0;
    --text-dark-green: #12c4a0;

    --bg-features-1: #fff6d6;
    --bg-features-2: #ebdcf9;
    --bg-features-3: #ddf5fc;
    --bg-features-4: #dcf6e8;
    --bg-features-5: #f8e4e1;
    --bg-features-6: #fbffd4;

    --blue: #00b8b8;
    --black: #333;
    --light-black: #666;
    --light-bg: #eee;
    --border: 0.2rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
    --third-font: 'Poppins', sans-serif;
}




/************************/
/****** Custom CSS ******/
/************************/

.sign-up-btn {
    background-color: var(--bg-black);
    font-size: 18px;
    font-weight: 700;
    color: var(--text-white);
    padding: 12px 29px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    display: inline-block;
    text-decoration: none;
    transition: 0.7s;
}

.sign-up-btn:hover {
    color: var(--text-black) !important;
    background-color: var(--bg-white);
    border: 2px solid var(--bg-black);
}

.btn-extra-header {
    color: var(--text-white);
    background-color: transparent;
    border: 2px solid var(--text-dark-gray);
}

.btn-extra-header:hover {
    background-color: var(--bg-black);
    color: var(--text-white) !important;
}

.btn {
    color: var(--bg-white) !important;
}


/***********************/
/**** Navbar Design ****/
/***********************/

.header_wrapper .navbar {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2 linear;
}

.header_wrapper .navbar-brand span {
    max-width: 210px;
    height: auto;
}

.header_wrapper .menu-navbar-nav {
    display: flex;
    width: 70%;
    justify-content: center;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-weight: 700;
    font-size: 18px;
    color: var(--text-dark-gray);
    line-height: 1;
    padding: 10px 25px;

}

.header_wrapper .nav-item .nav-link.active {
    color: var(--text-dark-green);
}

.header-scrolled {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

.header-scrolled .navbar-brand img {
    width: 190px;
    height: auto;
    animation: animated 0.1s ease-in-out;
}

@keyframes animated {
    0% {
        width: 210px;
    }

    50% {

        width: 200px;
    }


    100% {
        width: 190px;
    }
}

.header_scrolled .nav-item .nav-link {
    font-size: 17px;

}

.header_wrapper .navbar-brand {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-dark-gray);
}

.header_wrapper .navbar-brand span {
    padding-left: 4px;
}

/***********************/
/***** Home Design *****/
/***********************/



.home_wrapper {
    background: url(../img/background.png) no-repeat;
    display: flex;
    width: 100%;
    padding: 100px 0 125px;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.header-img-section {}

.home_wrapper .home-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: var(--text-light-3);
}

.home_wrapper .home-title {
    font-family: var(--third-font);
    font-weight: 700;
    font-size: 35px;
    text-transform: capitalize;
    line-height: 1.15;
    margin-bottom: 25px;
    color: var(--text-black);
}

.home_wrapper .home-title span {
    color: var(--blue);
}

.home_wrapper .home-title-text {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 40px;
    max-width: 550px;
    color: var(--text-dark-gray);
}

.home_wrapper .learn-more-btn-section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.home_wrapper .header-img-section {
    width: 45%;
    animation: home 5s ease-in-out infinite;
}

@keyframes home {
    0% {
        transform: translateY(0px);
    }

    50% {

        transform: translateY(20px);
    }


    100% {
        transform: translateY(0px);

    }
}

.clients {
    padding: 80px 0 70px;
    background: var(--bg-light-2);
    justify-content: center;
}

.clients h2 {
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 1.5;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--text-light-2);
}

/*************************/
/****** Pricing CSS ******/
/*************************/

.price_wrapper {
    padding: 100px 0 0;
}

.price_wrapper .pricing_subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-3);
}

.price_wrapper .pricing_title {
    font-family: var(--third-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}

.price_wrapper .pricing_card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-white);
    box-shadow: 0 1px 20px rgb(0 0 0 / 15%);
    flex-direction: column;
    padding: 40px 40px 45px 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.price_wrapper .pricing_card:hover {
    box-shadow: 0 2px 29px rgb(0 0 0 / 20%);
    cursor: pointer;
    z-index: 5;
}

.price_wrapper .pricing_period {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light-2);
    font-family: var(--secondary-font);
    padding-bottom: 0;
}

.price_wrapper .pricing_card img {
    max-width: 75%;
}

.price_wrapper .pricing_rate {
    font-size: 34px;
    font-weight: 800;
    font-family: var(--secondary-font);
    color: var(var(--text-black));
    line-height: 1.25;
}

.price_wrapper .pricing_text {
    font-size: 12px;
    font-weight: 700;
    color: var(--text-black);
    font-family: var(--secondary-font);
    margin: 0px;
}

.price_wrapper .pricing_plan_all {
    display: flex;
    text-align: center;
    width: 100%;
    margin: 15px 0;
}

.price_wrapper .pricing_plan_all ul {
    list-style: none;
    width: 100%;
    padding-inline-start: 0;
}

.price_wrapper .pricing_plan_all li {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark-gray);
    line-height: 1.25;
    margin-top: 5px;
    text-align: center;
}

.price_wrapper .pricing_plan_all li strike {
    color: var(--text-light-4);
}

.price_wrapper .sign-up-btn {
    background: var(--text-dark-green);
    border-color: var(--text-dark-green);
}

.price_wrapper .featured {
    box-shadow: 0 2px 40px rgb(0 0 0 / 5%);
    background-color: var(--bg-white);
    border: 5px solid var(--text-black);
    padding-top: 80px;
    padding-bottom: 80px;
}

.price_wrapper .pricing_ribbon {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 20;
}


.price_wrapper .pricing_ribbon span {
    font-family: var(--secondary-font);
    position: absolute;
    display: block;
    width: 225px;
    font-weight: 600;
    padding: 5px 0;
    background-color: var(--bg-black);
    color: var(--text-white);
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgb(0 0 0 / 20%);
    right: -45px;
    top: 30px;
    transform: rotate(-45deg);
}

.price_wrapper .btn-featured {
    background: var(--bg-black);
    border-color: var(--bg-black);
}

.price_wrapper .sign-up-btn:hover {
    background: var(--bg-white);
    border-color: var(--bg-black);
}

.price_wrapper .btn-featured .pricing_rate {
    font-size: 40px;
}

/*************************/
/****** Footer CSS ******/
/*************************/

.footer_wrapper {
    padding: 100px 0 25px;
    background-image: url(../img/bg_footer.png);
    background-color: var(--bg-black);
    color: var(--bg-white);
    background-size: cover;
}

.footer_wrapper .logo .footer_brand {
    font-size: 38px;
    font-weight: 700;
    margin-left: -3px;
}

.footer_wrapper .footer_logo img {
    max-width: 20%;
}

.footer_wrapper .footer_text,
.footer_wrapper .footer_text a {
    margin-top: 30px;
    color: var(--bg-white);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5;
}

.footer_wrapper .footer_title {
    font-family: var(--secondary-font);
    text-transform: uppercase;

}