@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    background: #003147;
    width: 300px;
    height: 100%;
    overflow: hidden;
    transition: 0.5s all;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* 100% by 300px width */
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover {
    background: #03a9f4;
}